# Ignore virtual environments
venv/
env/
dl/
.venv/
.conda/
# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore compiled Cython files
*.so

# Ignore test coverage files
.coverage
htmlcov/
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.mo
*.pot

# Ignore build directories
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Ignore environment configuration files
.env
*.env
.env.local
.envrc

*/Qwen2-0.5B-GRPO-test/*
prompt/grpo_saved_lora*
prompt/sft_saved_lora*
prompt/grpo_trainer_lora_model/
prompt/outputs_grpo/
prompt/sft_outputs/
prompt/GRPO-test
prompt/unsloth_compiled_cache

/node_modules
/*.json